.Benefits{
    background-color: #eee;
    padding-bottom: 30px;
}

.Benefits-Header{
    text-align: center;
}

.Benefit{
    text-align: justify;
}
.Benefits-Header-Hr{
	width: 250px;
    height: 3px;
    margin: auto;
	background-color: #3f51b5;
	margin-bottom: 50px;
}

.Benefit-Icon{
    display: block;
    text-align: center;
}

.Benefit-Text{
    margin: 30px auto;
}