footer.nb-footer {    
    background: #e7e7e7;
    border-top: 4px solid #3f51b5;
    z-index: 90;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
    footer.nb-footer .about {
    margin: 0 auto;
    max-width: 1170px;
    text-align: center; }
    footer.nb-footer .about p {
    font-size: 13px;
    color: #555;
    margin-top: 30px; }
    footer.nb-footer .about .social-media {
    margin-top: 15px; }
    footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #3f51b5;
    border: 1px solid rgba(255, 255, 255, 0.3); }
    footer.nb-footer .about .social-media ul li a:hover {
    background: #3f51b5;
    border-color: #3f51b5; }

    footer.nb-footer .about .social-media ul li a:hover i{
        color:white}
    footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #3f51b5;
    padding-left: 5px; }
    footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; }
    footer.nb-footer .footer-info-single ul li a:hover {
    color: #3f51b5; }
    footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
    footer.nb-footer .copyright {
    background: #3f51b5;
    padding: 7px 0;
    color: #999; }
    footer.nb-footer .copyright p {
        font-size: 0.7em;
    margin: 0;
    padding: 0;
color: white; }

  